.clac-container {
  margin: 10vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

p {
  max-width: 100%;
  height: 5vh;
  padding: 3vw;
  padding-right: 1vw;
  margin: 0;
  text-align: right;
  background-color: #57606a;
  color: antiquewhite;
  font-size: 5vw;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  gap: 2px;
  background-color: lightgray;
}

button {
  text-align: center;
  padding: 4vw;
  font-size: 3vw;
  background-color: #eaeef2;
  border: 0;
  cursor: pointer;
}

.orange {
  background-color: #fe9600;
}

#extend {
  grid-column: auto / span 2;
}
