.header {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.navbar > a {
  border-right: 1px solid black;
  padding-right: 1vw;
  color: blue;
}
